.row {
  background: #111;
}
.row__title{
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none; 
  /* width: 5px; */
  /* height: 8px; */
  /* background-color: #111; */
}

.row_poster {
  object-fit: contain;
  width: 200px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarger {
  max-height: 250px;
}
.row_posterLarger:hover {
  transform: scale(1.09);
}
